name: setup-test-lint
on: push
jobs:
  build:
    # операционная система для работы воркфлоу
    runs-on: ubuntu-latest
    steps: # список шагов, которые надо выполнить
      - uses: actions/checkout@v2
      # Устанавливаем Node.js
      - uses: actions/setup-node@v1
        with:
          node-version: '18.x'
          cache: npm
      - run: make setup
      - run: make test
      - run: make lint
